<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main class="wrapper">
      <header>
        <h1>Hello <%= user %>!</h1>
      </header>

      <div>
        <h2>Welcome, this is the body!</h2>
      </div>
    </main>
    <%- include('partials/scripts') %>
  </body>
</html>
